.modal-content {
  background-color: #0c192c;
  color: #b6ff00;
}

.modal-header {
  border: 0px;
}

.modal-footer {
  border: 0px;
  padding: 10px;
}

.modal-button {
  background-color: #228dff;
  color: #0c192c;
}
