.card {
  background: white;
  margin-bottom: 2em;
  width: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card h2 {
  font-size: 2em;
}
