/* back #0C192C */
/* roxo #BA01FF */
/* amarelo #B6FF00 */
/* azul-claro #228DFF */
/* rosa #FF0092 */

.SearchLogo {
  background-color: #0c192c;
  padding: 30px 0px 30px 0px;
}

.search-section {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-group {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.select-input {
  width: 250px;
  margin: 0px 0px 5px 0px;
}

.search-input {
  width: 250px;
  margin: 0px 0px 5px 0px;
}

Button {
  margin: 0px 0px 5px 0px;
  background-color: #ba01ff !important;
  border: 1px solid #ba01ff !important;
}

.divImagem {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-image {
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 0 20px #b6ff00;
}

.bar-image {
  width: 30%;
}

.logo-image:hover {
  box-shadow: 0 0 20px #ba01ff;
}

@media (max-width: 1000px) {
  .bar-image {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .bar-image {
    width: 55%;
  }
}

@media (max-width: 680px) {
  .search-group {
    width: 250px;
  }
  .bar-image {
    width: 70%;
  }
}
