/* back #0C192C */
/* roxo #BA01FF */
/* amarelo #B6FF00 */
/* azul-claro #228DFF */
/* rosa #FF0092 */

.SearchLogo {
  background-color: #0c192c;
  padding: 30px 0px 30px 0px;
}

.search-section {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-group {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: #0c192c !important;
  color: white !important;
  border: 1px solid #b6ff00;
}

.input-select {
  width: 200px;
}
.input-search {
  width: 300px;
}

.input::placeholder {
  color: white;
}

.input:focus {
  background-color: #0c192c;
  color: white;
}

input {
  background-color: #0c192c;
  color: white;
}

.input:active,
.input:focus,
.input:focus:active {
  background-color: #0c192c !important;
  color: white;
  border-color: #ba01ff;
}

/* Button {
  background-color: #0c192c !important;
  border: 1px solid #0c192c !important; 
} */

.divImagem {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-image {
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 0 20px #b6ff00;
}

.logo-image:hover {
  box-shadow: 0 0 20px #ba01ff;
}

.bar-image {
  width: 30%;
}

.icon-section {
  position: relative;
}

.search-icon {
  position: absolute;
  width: 22px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 680px) {
  .search-group {
    width: 300px;
  }
  .bar-image {
    width: 250px;
  }
  .input-search,
  .input-select {
    width: 250px;
  }
}
